.soren_ad_mobile {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999999999999999999999999999999999999999999!important;
    /* background: rgb(0, 0, 0, .4); */
    display: flex;
    align-items: flex-end;
    /* left: 0; */
    /* top: 0; */
    right: 0;



}

.soren_ad_container {
    background: #fff;
    padding: 15px;
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top: 1px solid #e1e1e1;
    background: #f1f1f1;

}
.sorenad_title{
    font-weight: 900;
}
.soren_ad_mobile * {
    font-family: arial;
    direction: rtl !important;
    text-align: right;
}

.sorenad_close {
    position: absolute;
    left: 10px;
    top: 9px;
}
.sorenad_base_logo {
    position: absolute;
    right: 10px;
    top: 0px;
}

.sorenad_base_logo img{
    position: absolute;
    right: 10px;
    top: 9px;
    height: 16px;

}
.fixpost_container{
    padding: 20px;
    box-sizing: border-box;
    border-radius: 15px;

}

.fixpost_container img{
    max-width: 100%;
    border-radius: 15px;
    width: 100%;
    height: auto;
}
.sorenad_btn {
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px;
    background: #068b49;
    color: #fff;
    text-align: center;
    border-radius: 15px;
}

.sorenad_btn_par{
   text-align: center;

}
.sorenad_logo_cont{
    height: 10px;
    position: relative;

}
/* .sorenad_body{
    padding-top: 15px ;
} */

.sorenad_logo {
    text-align: center;
    background: #fff;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    border-radius: 50%;
    bottom: 39px;
    -webkit-box-shadow: 0px 2px 13px 3px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 13px 3px rgba(0, 0, 0, 0.25);
    box-shadow: 0px 2px 13px 3px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    vertical-align: middle;
}

.sorenad_logo img {
    display: inline-block;
    height: 55px;
    vertical-align: middle;
    position: relative;
    top: 0px;
    width: auto;
}


.soren_ad_mobile h3 {
    /* margin-bottom:10px; */

}


.soren_ad_mobile p {
    margin-bottom:10px;
}

.sorenad{
    text-align: center;
}
.smb-10 {
   margin-bottom: 10px;
}

video {
    width: 100%;
}

/* Always show video controls */
video::-webkit-media-controls {
    display: flex !important;
}
video::-webkit-media-controls-enclosure {
    overflow: visible !important;
}

.sorenad_banner img{
    border-radius: 15px;
}

.sorenad_video{
    border: 1px solid #d2d2d2;
    border-radius: 15px;
    overflow: hidden;

}

.sorenad_video .sorenad_btn{
    width: 100%;
    background: #6fabf8;
    color: #fff;
    border-radius: 0;
    margin: 0;

/* ssss */
}
.btn_full{
    width: 100%;
    display: inline-block;
    padding: 10px 20px;
    box-sizing: border-box;
    color: #fff;
    background: red;
    text-align: center;
}
.soren_ad_hamsab{
    max-width: 600px;
    margin: 0 auto;
    width: 100%;
    height: 108px;

}
.s_rotate svg{
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}
 .ssoren_cont{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0,.4);
    padding: 15px 0;
    box-sizing: border-box;
    z-index: 999999999999999999999999999999999999;
}
.icon_soren{
    position: absolute;
    left: 10px;
    top: -41px;
    background-color: rgb(0, 0, 0, .4);
    padding: 0px 9px;
    padding-bottom: 0;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    z-index: 99999999998;

}
.soren_ad_hamsab{
    transition: all .3s;
}
.sorenad_ham_body{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    background-color: #ffff;
    padding: 20px 10px;
    border-radius: 15px;
    opacity: 1;
    align-items: center;
}


.sorenad_ham_body img{
    height: 75px;
}
.sorenad_ham_body .sorenad_title{
    vertical-align: middle;
    line-height: 45px;
}
.sorenad_ham_body .btn_full {
    border-radius: 10px;
    display: inline-block;
    padding: 10px 18px;
    text-decoration: none;
}
.sorenad_ham_body h3{
   margin: 0!important;
}
.soren_han_container .sorenad_ham_img{
    /* display: flex; */
}
.sorenad_hams_down{
    transition: all .3s;
height: 0!important;
}

.d-flexj{
    display: flex;
    justify-content: space-between;

}
.sorenad_text {
    max-width: 100%;
    overflow: hidden;
}
.sorenad_text ul {
    list-style: none;
    border-radius: 15px;
    background: #defae6;
margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.sorenad_text ul li{
    padding: 10px 30px;
    text-align: right;
    border-bottom: 3px solid #fff;

}
.sorenad_text ul li:nth-child(odd){
    background: #deedf3;
}

.sorenad_text ul li a:hover{
    right: 10px;;
    color: #6fabf8;
}
.sorenad_text ul li a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
    transition: all .3s;
    position: relative;
    right: 0;
}

/*
#main div:nth-of-type(1) {flex-grow: 1;}
#main div:nth-of-type(2) {flex-grow: 3;}
#main div:nth-of-type(3) {flex-grow: 1;}
#main div:nth-of-type(4) {flex-grow: 1;}
#main div:nth-of-type(5) {flex-grow: 1;} */

@media screen and (min-width: 900px) {
   #sorenad_fixpost img{
    width: 50%;

   }
   .soren_ad_hamsab{
    width: 100%;
   }
  }
