.card {
    border-radius: 20px!important;
}

.logo_side{
    max-height: 36px;
}
.nk-tb-col ,.nk-tb-col * ,.nk-tb-col .user-card{
    text-align: center;
}
.num_circle{
    font-size: 14px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    background: red;
    padding: 0 5px;
}
.form_close{
    cursor: pointer;
}
.nk-chat-body.profile-shown{
    padding: 0;
}
/* .nk-sidebar{
    width: 190px;
}
.nk-sidebar+.nk-wrap{
    padding-right: 200px;
}

@media screen and (max-width:1200px) {
    .nk-sidebar+.nk-wrap{
        padding-right: 0!important;
    }
} */
/* .link-list-opt *{
    text-align: right;
    display: inline-block;
} */
.per_price{
    cursor: pointer;
}
.info_txt{
    font-size: 11px;
}
@media screen and (max-width:500px) {
    .card-inner{
    max-width: 100%;
    overflow: auto;
}
}
